
/************************/
/* 	    COULEURS        */
/************************/









/************************/
/*         TEXT            */
/************************/
body{
  font-size: 33px;
}









/************************/
/*         BUTTONs         */
/************************/



input {
  border-radius: 20px;
  opacity: 0.8;
}

button{
  background-color: yellow
}
